<!-- Bootstrap core CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />

<!-- Custom fonts for this template -->
<link
  href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
  rel="stylesheet"
  type="text/css"
/>

<!-- Custom styles for this template -->
<link href="styles.css" rel="stylesheet" /> <!-- optional additional css styles if'n y'like -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://s3.amazonaws.com/stitch-sdks/js/bundles/4.4.0/stitch.js"></script>
<script src="./config.js"></script>