<!-- utf-8 is a standard way of encoding characters for web content -->
<meta charset="utf-8" />
<!-- viewport tells A <meta> viewport element gives the browser instructions on how to control the page's
    dimensions and scaling. The width=device-width part sets the width of the page to follow the screen-width 
    of the device (which will vary depending on the device).-->
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<!-- a basic description of the page - used for SEO / Searching -->
<meta
  name="description"
  content="30 Minutes to a Data Enabled Webform"
/>
<!-- author description - again, for SEO -->
<meta name="author" content="Michael Lynn" />
<!-- Title appears in the browser title bar and helps with SEO as well -->
<title>30 Minutes to a Data Enabled Webform</title>